# Hi, I'm Robert 👋

I'm a Linux Engineer, open source enthusiast, and self-hosting geek. Most of the time I work in Ops and focus on infrastructure and deployment automation.

## Social Profiles

- [@xoxys@social.tchncs.de on Mastodon](https://social.tchncs.de/@xoxys)
- [@xoxys:rknet.org on Matrix](https://matrix.to/#/@xoxys:rknet.org)
- [Personal website thegeeklab.de](https://thegeeklab.de/)
{{- with .FeedItems }}

## Blog posts

<!-- spellchecker-disable -->
{{- range . }}
- [{{ .Title }}]({{ .Link }})
{{- end }}
{{- end }}
<!-- spellchecker-enable -->
